.body {
  color: gray;
}

.index-cover {
  height: 250px;
  width: auto
}

.alert-success {
  margin-top: 75px;
}

#book-header {
  font-size: 18px !important;
}

.book-image {
  display: inline-flex
}

.book-data {
  display: inline-grid
}

.index-header {
  display: flex;
  justify-content: space-between !important;
}

.links {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  color: gray;
}

.link {
  margin: 0;
}

.author-book-section {
  display: flex !important;
  justify-content: space-around !important;
}

.dd-sort {
  background: chartreuse;
  display: flex;
  justify-content: space-between;
  align-items: right
}

.dropdown-menu {
  min-width: 120px !important;
}

.dropdown-item {
  padding-left: 5px !important;
}
