

body {
  color: #696969;
}

.index-cover {
  height: 250px;
  width: auto
}

.alert-success {
  margin-top: 75px;
}

#book-header {
  font-size: 18px !important;
}

.book-image {
  display: inline-flex
}

.index-header {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  color: gray;
  margin: 0
}

.index-header .links {
  display: flex;
  justify-content: space-between !important;
  margin: 0;
  align-items: center;
}

.author-book-section .top-review {
  width: 45%
}

.dd-sort {
  margin: 0
}

.panel-body .author-book-section {
  display: flex;
  justify-content: space-between;
}

.dropdown-menu {
  min-width: 125px !important;
}

.dropdown-item {
  padding: 7px !important;

}

.panel-body {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

#dropdownMenuButton {
  padding: 0
}

.link {
  margin: 0;
  padding-left: 15px
}

#link-message {
  padding-left: 25px
}

.author-book-section .book-data #length-line {
  margin-top: 25px;
}

.delete-review {
  display: grid;
  justify-content: right;
  margin-right: 10px
}

.book-review {
  padding: 10px
}

.welcome-body {
  background-image: url("images/olia-gozha-678463-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.welcome-header{
  display: block;
  font-size: 600%;
  margin-top: 100px;
  font-weight: bolder;
  color: #262626;
}

.welcome-section {
  color: black;
  opacity:0.99;

}

.quote {
  display: block;
  font-weight: bold;
  font-size: 150%;
  margin-top: 35px;

}

.github-links{
  display: block;
  padding-top: 50px;
  font-size: 130%;
  font-weight: bold;
  text-align: left;
  bottom: 0;
}

.btn {
  color: #337ab7
}
