<body class="welcome-body">

  <h1 class="welcome-header">Welcome to Book Club</h1>

  <div class="welcome-section">
    <section class="quote">“The only thing that you absolutely have to know, is the location of the library.”<br> - Albert Einstein -</section>

    <section class="github-links">
      <h4>Developed by:</h4>
      <a href="https://github.com/aprildagonese">April Dagonese</a><br>
      <a href="https://github.com/renecasco">Rene Casco</a>
    </section>
  </div>

</body>
