<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Book Club</title>
    <link rel="stylesheet" href="main.css" title="text/css" />
  </head>
  <body class = "welcome-body">
    <h1 class = "welcome-header">Welcome to Book Club</h1>
    <p class = "quote"></p>
  </body>
</html>
