<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Book Club</title>
    <link rel="stylesheet" href="main.css" title="text/css" />
  </head>
  <body class = "welcome-body">
    <h1 class = "welcome-header">Welcome to Book Club</h1>
    <p class = "quote">“The only thing that you absolutely have to know,<br>is the location of the library.” <br><br> - Albert Einstein -</p>
    <footer class = github-links>
      <a href="#"> April Dagonese GitHub repository </a>
      <a href="#"></a>
    </footer>

  </body>
</html>
